{% if include.item.subitems %}

<div>
  <span>
    {% for subitem in include.item.subitems %}
      {% include components/nav-item.html item=subitem %}

      {% if subitem.list %}
        <div>
          {% for list in subitem.list %}
            <span>
              {% include components/nav-item.html item=list %}

              {% include components/nav-subitems.html item=list %}
            </span>
          {% endfor %}
        </div>
      {% else %}
        {% include components/nav-subitems.html item=subitem %}
      {% endif %}
    {% endfor %}
  </span>
</div>

{% endif %}
