//*
//
//  Buttons
//  ---
//  Don't forget hover, active states
//
//

.button {
  background-color: $color-button;
  border: 2px solid $color-button;
  color: $color-text--light;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  border-radius: 500px;
  cursor: pointer;
  @include transition;
  @include padding($gutter, $gutter--large);
  @include font-display;
  font-size: fs(normal);

  > * {
    vertical-align: middle;
  }
}

a.button {
  text-decoration: none;
}

button.button--link {
  display: inline-block;
  border: none;
  outline: none;
  background: none;
}

.button--large {
  @include padding($gutter--large, $gutter--xl);
}

.button--small {
  font-size: fs(x-small);
  @include padding($gutter--small, $gutter--large);
  border-width: 1px;
}

.button--hover,
.button:hover {
  background-color: $color-button--hover;
  border-color: $color-button--hover;
  color: $color-text--light;
}

.button--active,
.button:active {
  background-color: $color-button--active;
  border-color: $color-button--active;
  color: $color-text--light;
}

.button--disabled,
.button:disabled {
  background-color: $color-grey--light;
  border-color: $color-grey--light;
  color: $color-grey;
}

.button--ghost {
  border: 2px solid $color-button;
  background-color: $color-button--transparent;
  color: $color-button;

  &.button--hover,
  &:hover {
    background-color: $color-button--transparent-hover;
    border-color: $color-button--hover;
    color: $color-button--hover;
  }

  &.button--active,
  &:active {
    background-color: $color-button--transparent-active;
    border-color: $color-button--active;
    color: $color-button--active;
  }

  &.button--disabled,
  &:disabled {
    background-color: $color-button--transparent-disabled;
    border-color: $color-button--disabled;
    color: $color-button--disabled;
  }
}

.button--secondary {
  background-color: $color-button--secondary;
  border-color: $color-button--secondary;

  &.button--hover,
  &:hover {
    background-color: $color-button--secondary-hover;
    border-color: $color-button--secondary-hover;
  }

  &.button--active,
  &:active {
    background-color: $color-button--secondary-active;
    border-color: $color-button--secondary-active;
    color: $color-text--dark;
  }

  &.button--disabled,
  &:disabled {
    background-color: $color-button--secondary;
    border-color: $color-button--secondary;
    color: $color-text--dark;
  }
}
