/*

  Buttons
  ---
  Don't forget hover, active states

*/

.button {
  > * {
    vertical-align: middle;
  }
}

a.button {
  text-decoration: none;
}

button.button--link {
  display: inline-block;
  border: none;
  outline: none;
  background: none;
}
