/*

  Icons

*/

[class^=icon] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;

  &--inline {
    background-image: none;
  }
}
