//
//
//  Icons
//
//

[class^="icon"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &--inline {
    background-image: none;
  }
}
