/*

  Page
  ---
  1. Force scrollbars to always be visible
  2. Ensure page always fill at lieast the entire height
  3. Sticky Footer

*/

html {
  font-size: $global-font-size;
  line-height: $global-line-height;
  overflow-y: scroll; // 1
  min-height: 100vh; // 2
}

body {
  display: flex; // 3
  flex-direction: column; // 3
  min-height: 100vh; //3

  @if $global-font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @if $global-type-legible {
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
  }
}

main {
  flex: 1 0 auto; // 3
}
