/*

  Baseline
  ---
  Debugging tools to help keep the baseline grid aligned

*/

// Creates a horizontal repeating background based on $global-basline
@mixin baseline {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="10"><rect fill="#0FF" x="0" y="0" width="1" height="0.5"/><rect fill="#0FF" x="0" y="9.5" width="1" height="0.5"/></svg>');
  background-position: top left;
  background-size: $global-baseline;
}

// Creates a vertical repeating background based on $global-baseline
@mixin vertical-line {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="1"><rect fill="#0FF" x="0" y="0" width="0.5" height="1"/><rect fill="#0FF" x="9.5" y="0" width="0.5" height="1"/></svg>');
  background-position: top left;
  background-size: $global-baseline;
}

// Sets the body to have baseline grid if core.debug-mode is enabled
@if ($debug-mode == true and $debug-baseline == true) {
  body {
    @include baseline;
  }
}
