/*

  Border Radius
  ---
  Helper mixins for defining border radii

*/

// Defines a border radius based on $global-radius
//
// $positions: !optional - list of corners to apply radius to
//   [top-left, top-right, bottom-left, bottom-right]
// If no positions are passed, all corners receiving a radius
//
// Example: button { @include border-radius(top-left, bottom-right) }
@mixin border-radius($positions...) {
  @if (length($positions) > 0) {
    @each $position in $positions  {
      border-#{$position}-radius: $global-radius;
    }
  } @else {
    border-radius: $global-radius;
  }
}

// Defines a border radius based on $global radius
//
// $size: !required - size of corner radius, will be processed by -size
// to make an appropriate multiple of $baseline for the radius
// $positions: !optional - list of corners to apply radius to
//   [top-left, top-right, bottom-left, bottom-right]
// If no positions are passed, all corners receiving a radius
//
// Example: button { @include border-radius(10px, top-left, bottom-right) }
@mixin border-radius-size($size, $positions...) {
  @if (length($positions) > 0) {
    @each $position in $positions  {
      border-#{$position}-radius: -size($size);
    }
  } @else {
    border-radius: -size($size);
  }
}
