/*

  Box Shadow
  ---
  Standard box shadow mixin.

*/

// Creates a standard box-shadow
//
// All params are optional, use named params
// $x: x-offset
// $y: y-offset
// $blur: size of blur - can receive a list of blurs 1px, 2px, 4px)
// $spread: size of spread - can receive a list of spreads (1px, 2px, 4px, 8px)
// $inset: true insets the shadow
//
// Example: aside { @include box-shadow($inset: true) }
@mixin box-shadow(
  $x: $box-shadow-x,
  $y: $box-shadow-y,
  $blur: $box-shadow-blur,
  $spread: $box-shadow-spread,
  $inset: $box-shadow-inset) {
    @if ($inset) { $inset: inset }

    $color: $color-box-shadow;
    $shadow: (null,);
    $spread-length: length($spread);
    $blur-length: length($blur);

    @for $i from 1 through $blur-length {
      @for $n from 1 through $spread-length {
        $val: $inset -shadow($x, $y, nth($blur, $i), nth($spread, $n), $color);
        $shadow: append($shadow, $val);
      }
    }

    box-shadow: $shadow;
}
