/*

  Centering Tools
  ---

*/

@mixin margin-center($left: true, $right: true) {
  @if ($right == true) {
    margin-left: auto;
  }

  @if ($left == true) {
    margin-right: auto;
  }
}

@mixin transform-center($top: 50%, $left: 50%) {
  @if $top and $left == false {
    transform: translateY(-$top);
  }

  @else if $top == false and $left {
    transform: translateX(-$left);
  }

  @else {
    transform: translate(-$top, -$left);
  }
}

.margin-center {
  @include margin-center;
}

.transform-center {
  @include transform-center;
}
