//
//
//  Clearfix
//  ---
//  Micro Clearfix http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
//
//
// stylelint-disable declaration-no-important

@mixin clearfix() {
  &::after {
    content: "" !important;
    display: block !important;
    clear: both !important;
  }
}
// stylelint-enable declaration-no-important
