/*

  Font-Size
  ---

*/

@mixin font-size($args...) {
  $length: length($breakpoints);
  $i: 1;

  @each $var in $args {

    @if ($length >= $i) {
      $bp: nth(nth($breakpoints, $i), 2);

      @media screen and (min-width: $bp) {
        font-size: -size($var);
      }
    }

    $i: $i + 1;
  }
}

@mixin h1 {
  @include font-size(36, 36, 48, 64);
}

@mixin h2 {
  @include font-size(30, 30, 36, 48);
}

@mixin h3 {
  @include font-size(24, 24, 30, 36);
}

@mixin h4 {
  @include font-size(20, 24, 24, 30);
}

@mixin h5 {
  @include font-size(18, 18, 20, 24);
}

@mixin body-large {
  @include font-size(16, 16, 18, 20);
}

@mixin body {
  @include font-size(16, 16, 16, 18);
}

@mixin small {
  @include font-size(10, 10, 12, 14);
}
