/*

  Font-Size
  ---
  Helpers for defining font-sizes at certain breakpoints
  forces alignment with the baseline grid

*/

// sets the element font size rounded to the nearest multiple of baseline grid
//
// $default !required default font size
// $args...: !optional font size to use at each breakpoint in order of the array in settings.breakpoints
//
// example h1 { @include font-size(16, 32, 64) }
//   ouputs an h1 element that is 16px by default, 32px on a tablet, and 64px on a desktop
@mixin font-size($default, $args...) {
  $length: length($breakpoints);
  $i: 1;

  font-size: -size($default);

  @each $var in $args {

    @if ($length >= $i) {
      $bp: nth(nth($breakpoints, $i), 2);

      @media screen and (min-width: $bp) {
        font-size: -size($var);
      }
    }

    $i: $i + 1;
  }
}

@mixin h1 {
  @include font-size(36, 36, 48, 64);
}

@mixin h2 {
  @include font-size(30, 30, 36, 48);
}

@mixin h3 {
  @include font-size(24, 24, 30, 36);
}

@mixin h4 {
  @include font-size(20, 24, 24, 30);
}

@mixin h5 {
  @include font-size(18, 18, 20, 24);
}

@mixin body-large {
  @include font-size(16, 16, 18, 20);
}

@mixin body {
  @include font-size(16, 16, 16, 18);
}

@mixin small {
  @include font-size(10, 10, 12, 14);
}
