/*

  Media
  ---
  Helper to define breakpoints

*/

// Set breakpoint at $breakpoint size, wrapping content
@mixin screen($breakpoint) {
  @media screen and (min-width: #{$breakpoint}) {
    @content
  }
}

// set max-width breakpoing wrapping content
@mixin max-screen($breakpoint) {
  @media screen and (max-width: #{$breakpoint - .1}) {
    @content;
  }
}
