/*

  Outline
  ---
  Outline the box-model of the element with a border that does not influence positioning.

*/

@mixin outline {
  box-shadow: inset 0 0 0 .5px #0FF;
}

@if ($debug-mode == true and $debug-outline == true) {
  body * {
    @include outline;
  }
}
