//
//
//  Padding
//  ---
//  Helpers to define padding as multiples of the baseline grid
//  Needs to maintain similarity with default css properties
//
//

@mixin padding-inline-start($size) {
  @if (-isvar($size)) {
    padding-inline-start: var($size);
  } @else {
    padding-inline-start: $size;
  }
}

@mixin padding-inline-end($size) {
  @if (-isvar($size)) {
    padding-inline-end: var($size);
  } @else {
    padding-inline-end: $size;
  }
}

@mixin padding-block-start($size) {
  @if (-isvar($size)) {
    padding-block-start: var($size);
  } @else {
    padding-block-start: $size;
  }
}

@mixin padding-block-end($size) {
  @if (-isvar($size)) {
    padding-block-end: var($size);
  } @else {
    padding-block-end: $size;
  }
}

@mixin padding-block($start, $end: null) {
  @if ($end == null) {
    $end: $start;
  }

  @include padding-block-start($start);
  @include padding-block-end($end);
}

@mixin padding-inline($start, $end: null) {
  @if ($end == null) {
    $end: $start;
  }

  @include padding-inline-start($start);
  @include padding-inline-end($end);
}

@mixin padding(
  $blockstart,
  $inlineend: null,
  $blockend: null,
  $inlinestart: null
) {
  @if ($inlineend == null) {
    $inlineend: $blockstart;
  }

  @if ($inlinestart == null) {
    $inlinestart: $inlineend;
  }

  @if ($blockend == null) {
    $blockend: $blockstart;
  }

  @include padding-block-start($blockstart);
  @include padding-inline-end($inlineend);
  @include padding-block-end($blockend);
  @include padding-inline-start($inlinestart);
}
