/*

  Text Shadow
  ---
  Standard text shadow mixin.

*/

// Creates a standard text-shadow
//
// All params are optional, use named params
// $x: x-offset
// $y: y-offset
// $blur: size of blur
//
// Example: @include text-shadow(2px, 2px, 1px);
@mixin text-shadow(
  $x: $text-shadow-x,
  $y: $text-shadow-y,
  $blur: $text-shadow-blur) {
    $color: $color-text-shadow;
    $shadow: (null,);
    $blur-length: length($blur);

    @for $i from 1 through $blur-length {
      $val: -shadow($x, $y, nth($blur, $i), $color);
      $shadow: append($shadow, $val);
    }

    text-shadow: $shadow;
}

