/*

  Transitions
  ---
  Helper to define transitions while maintaining global settings
  Takes in a list of properties that can be transitions

  example: .button::hover { @include transition(opacity) }
  example: .button::active { @include transition(opacity, scale) }

*/

@mixin transition($properties...) {
  transition-delay: $global-transition-delay;
  transition-duration: $global-transition-duration;
  transition-property: if ($properties, $properties, $global-transition-property);
  transition-timing-function: $global-transition-timing-function;
}

