/*

  Breakpoints
  ---
  Setup breakpoints

*/

$bp-phone: 20em;
$bp-phone--xl: 25em;
$bp-tablet: 48em;
$bp-desktop: 64em;
$bp-large: 77em;
$bp-extra-large: 90em;

$breakpoints: (
  'phone': $bp-phone,
  'phone-xl': $bp-phone--xl,
  'tablet': $bp-tablet,
  'desktop': $bp-desktop,
  'large': $bp-large,
  'extra-large': $bp-extra-large,
);
