/*

  Colors
  ---

*/

$purple: (
  base: hsl(270, 50%, 40%),
  hover: hsl(270, 50%, 60%)
);

$greys: (
    0: hsl(0, 0,   0),
   10: hsl(0, 0,  10%),
   20: hsl(0, 0,  20%),
   30: hsl(0, 0,  30%),
   40: hsl(0, 0,  40%),
   50: hsl(0, 0,  50%),
   60: hsl(0, 0,  60%),
   70: hsl(0, 0,  70%),
   80: hsl(0, 0,  80%),
   90: hsl(0, 0,  90%),
  100: hsl(0, 0, 100%),
);

$greys--alpha: (
   20: hsla(0, 0, 10%, .2),
   40: hsla(0, 0, 10%,  .4),
   60: hsla(0, 0, 10%,  .6),
   80: hsla(0, 0, 10%,  .8),
  100: hsla(0, 0, 10%, 1.0),
);

$color-grey--lightest: -color($greys, 100);
$color-grey--lighter:  -color($greys,  80);
$color-grey--light:    -color($greys,  70);
$color-grey:           -color($greys,  50);
$color-grey--dark:     -color($greys,  30);
$color-grey--darker:   -color($greys,  20);
$color-grey--darkest:  -color($greys,   0);

$color-purple:        -color($purple);
$color-purple--hover: -color($purple, hover);

$color-text:        $color-grey--darkest;
$color-text--light: $color-grey--lightest;
$color-text--dark:  $color-grey--dark;

$color-box-shadow:   -color($greys--alpha, 20);
$color-text-shadow:  -color($greys--alpha, 50);
$color-grey-overlay: -color($greys--alpha, 70);

