/*

  Sizing
  ---
  Useable spacing for elements

*/

// Spacing values - created from the baseline
$global-spacing-unit-micro: -size($global-baseline / 8);
$global-spacing-unit-tiny:  -size($global-baseline / 4);
$global-spacing-unit-small: -size($global-baseline / 2);
$global-spacing-unit:       -size($global-baseline);
$global-spacing-unit-large: -size($global-baseline * 2);
$global-spacing-unit-xl:    -size($global-baseline * 4);
$global-spacing-unit-huge:  -size($global-baseline * 8);

// Gutters based on grid above
$gutter--micro: $global-spacing-unit-micro;
$gutter--tiny:  $global-spacing-unit-tiny;
$gutter--small: $global-spacing-unit-small;
$gutter:        $global-spacing-unit;
$gutter--large: $global-spacing-unit-large;
$gutter--xl:    $global-spacing-unit-xl;
$gutter--huge:  $global-spacing-unit-huge;

