/*

  Typography
  ---

*/

$base-font-size: 16px;
$global-font-size: -size($base-font-size);
$global-line-height: -size($base-font-size * 1.5);
$global-font-smoothing: false !default;
$global-type-legible: false !default;

// Define font stacks here
// You can used existing font stacks as fallbacks
// eg: mono spaced stack would be
//       'Fira-Mono', Hasklig, $monospace-stack
$fonts: (
  body: $helvetica-stack,
  display: $garamond-stack,
  mono: Hasklig, $monospace-stack,
);


