/*

  Layout
  ---
  A good place to define layout helpers like wrappers, or grids

*/

@mixin wrapper-sizing {
  width: 100%;
  @include padding-horizontal($gutter--large);

  @include screen($bp-tablet) {
    max-width: $bp-tablet;
  }

  @include screen($bp-desktop) {
    max-width: $bp-desktop;
  }

  @include screen($bp-large) {
    max-width: $bp-large;
  }

  @include screen($bp-extra-large) {
    max-width: $bp-extra-large;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  > *:first-child {
    margin-top: 0 !important;
  }
}
