/*

  Layout
  ---
  A good place to define layout helpers like wrappers, or grids

*/

@mixin wrapper-sizing {
  width: 100%;
  max-width: calc(100vw - (2 * #{$gutter}));

  @include screen($bp-tablet) {
    max-width: calc(#{$bp-tablet} - (2 * #{$gutter}));
  }

  @include screen($bp-desktop) {
    max-width: calc(#{$bp-desktop} - (2 * #{$gutter--large}));
  }

  @include screen($bp-large) {
    max-width: calc(#{$bp-large} - (2 * #{$gutter--large}));
  }

  @include screen($bp-extra-large) {
    max-width: calc(#{$bp-extra-large} - (2 * #{$gutter--xl}));
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  > *:first-child {
    margin-top: 0 !important;
  }
}

@mixin wrapper {
  @include margin-center;
  @include wrapper-sizing;
}

.container {
  @include wrapper;
}
