<div>
  {% assign sizes = 'large, , small' | split: ', ' %}
  {% assign states = ', hover, active, disabled' | split: ', ' %}
  {% assign fills = ' , ghost, secondary' | split: ', ' %}

  {% for fill in fills %}
    {% capture fill-name %}{{ fill | default: "solid" }}{% endcapture %}

    {% for state in states %}
      <p class="styleguide-label">{{ fill-name | capitalize }} {{ state | capitalize }}</p>
      {% for size in sizes %}
      <button class="button button--{{ size }} button--{{ state }} button--{{ fill }}" {{ state }}>Button</button>
        <a class="button button--{{ size }} button--{{ state }} button--{{ fill }}" href="javascript:void(0)">Link</a>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</div>

<div>
  <p class="styleguide-label">Button &amp; Link</p>

  <div>
    <button>Button</button>
    <a href="javascript:void(0)">Hyperlink</a>
  </div>
</div>

<div>
  <p class="styleguide-label">Link Style Button &amp; Link</p>

  <div>
    <button class="button--link">Button</button>
    <a href="javascript:void(0)">Hyperlink</a>
  </div>
</div>
