<div>
  {% assign headings = 'h1, h2, h3, h4, h5, h6' | split: ', ' %}
  {% for h in headings %}
  <div>
    <p class="styleguide-label">{{ h }}</p>
    <{{ h }}>Lorem ipsum dolor sit amet</{{ h }}>
    <{{ h }}><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></{{ h }}>
  </div>
  {% endfor %}
</div>

<div>
  {% assign font-sizes = 'xx-display, x-display, display, xxx-large, xx-large, x-large, large, normal, small, x-small, xx-small' | split: ', ' %}
  {% for fs in font-sizes %}
  <div>
    <p class="styleguide-label">{{ fs }}</p>
    <p class="{{ base }}__{{ fs }}">Lorem ipsum dolor sit amet</p>
    <p class="{{ base }}__{{ fs }}"><a href="javascript:void(0)">Lorem ipsum dolor sit amet</a></p>
  </div>
  {% endfor %}
</div>
