/*

  Normalize
  ---
  Customized normalize css https://github.com/necolas/normalize.css

*/


// Document
// ==========================================================================

// 1. Correct the line height in all browsers.
// 2. Prevent adjustments of font size after orientation changes in iOS.

html {
  line-height: $global-line-height; // 1
  -webkit-text-size-adjust: 100%; // 2
}

// Sections
// ==========================================================================

// Remove the margin in all browsers.

body {
  margin: 0;
}

// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.

h1 {
  margin: 0.67em 0;
}

// Text-level semantics
// ==========================================================================

// Add the correct font weight in Chrome, Edge, and Safari.

strong {
  font-weight: bolder;
}


// Add the correct font size in all browsers.

small {
  font-size: -size(10px);
}

// Forms
// ==========================================================================

// 1. Change the font styles in all browsers.
// 2. Remove the margin in Firefox and Safari.

button,
input,
textarea {
  font-family: inherit; // 1
  font-size: 100%; // 1
  line-height: $global-line-height; // 1
  margin: 0; // 2
}

// 1. Show the overflow in Edge.

button,
input { // 1
  overflow: visible;
}

// Remove the inheritance of text transform in Edge, Firefox, and IE.

button {
  text-transform: none;
}

// Correct the inability to style clickable types in iOS and Safari.

button,
[type="submit"] {
  -webkit-appearance: button;
}

// Remove the inner border and padding in Firefox.

button::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

// Restore the focus styles unset by the previous rule.

button:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.

::-webkit-file-upload-button {
  -webkit-appearance: button; // 1
  font: inherit; // 2
}
